<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/CT_USER/IdeaProjects/Testselenium">


        <classes>
            <class name="gettingStarted.practice.SeleniumTest">
                <methods>
                    <include name="login"/>
                    <include name="addInvoice"/>
                </methods>
            </class>
            <class name="gettingStarted.testingUsingTestng">
                <methods>
                    <include name="testAddition"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>